@font-face {
    font-family: Multicolore;
    src: url(Multicolore\ Pro.woff);
}

header {
    background-color: #24c7cb;
    width: 100.6%;
    height: 134px;
    margin-left: -8px;
}
hr.line {
    border-top: 10px solid #24c7cb;
    width: 10.3%;
    margin-left: -10px;
    margin-top: -18px;
    position: relative;
    border-bottom: 2px solid #24c7cb;
    border-right: 1px solid #24c7cb;
}
.fa-desktop {
    font-size: 70px;
    float: left;
    color: #f3f4f7;
    margin-top: 13px;
    margin-left: 25px;
}
.pc {
    font-family: Multicolore;
    font-size: 75px;
    float: left;
    letter-spacing: 5px;
    margin-top: -8px;
    color: #464a51;
    padding: 2px;
    border-radius: 5px;
}
.bot {
    font-family: Multicolore;
    font-size: 75px;
    float: left;
    letter-spacing: 5px;
    margin-top: -8px;
    color: #f3f4f7;
    padding: 2px;
    border-radius: 5px;
}

.fa-user {
    color: #f3f4f7;
    background-color: #24c7cb;
    float: right;
    list-style: none;
    margin-top: -18px;
    margin-right: -8px;
    border: 2px solid #24c7cb;
    padding: 45px 45px;
    font-size: 30px;
}
.fa-user:hover {
    background-color: #464a51;
    color: #f3f4f7;
    border: 2px solid #464a51;
    display: inline-block;
    transition-duration: 0.1s;
    cursor: pointer;
}
.fa-user:active {
    opacity: 0.2;
}

.fa-search {
    color: #464a51;
    background-color: #24c7cb;
    float: right;
    list-style: none;
    margin-top: -18px;
    margin-right: 0px;
    border: 2px solid #24c7cb;
    padding: 45px 45px;
    font-size: 30px;
}
.fa-search:hover {
    background-color: #464a51;
    color: #f3f4f7;
    border: 2px solid #464a51;
    display: inline-block;
    transition-duration: 0.1s;
    cursor: pointer;
}
.fa-search:active {
    opacity: 0.5;
}

hr.line1 {
    border-top: 10px solid #24c7cb;
    width: 101.3%;
    margin-left: -10px;
    position: relative;
    top: -45px;
    border-bottom: 1px solid #24c7cb;
    border-right: 1px solid #24c7cb;
}

body {
    background-color: #f3f4f7;
}
.build {
    font-family: Multicolore;
    font-size: 50px;
    text-align: center;
    letter-spacing: 10px;
    color: #24c7cb;
    border-radius: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    margin-bottom: 50px;
}
.grid-class1 {
    display: grid;
}
img {
    width: 500px;
    height: 500px;
    margin: 30px;
}

.grid-class2 {
    display: grid;
}
.grid-class2 .grid-item {
    background-color: #24c7cb;
    border-radius: 5px;
    font-family: Multicolore;
    text-align: center;
}
.product-title {
    font-size: 35px;
    text-align: middle;
    padding-top: 10%;
    padding-bottom: 10%;
    font-weight: bold;
    color: #f3f4f7;
}
.product-desc {
    font-size: 15px;
    text-align: left;
    line-height: 2;
    padding-left: 8%;
    margin-bottom: 100px;
}
.price {
    font-size: 25px;
    text-align: right;
    padding-right: 8%;
    color: #f3f4f7;
}
.add {
    font-family: Multicolore;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 8%;
    width: 90%;
    height: 10%;
    cursor: pointer;
    background-color: #f3f4f7;
    border: none;
    border-radius: 5px;
}

footer {
    background-color: #464a51;
    width: 101.3%;
    height: 200px;
    margin-left: -8px;
}
hr.line2 {
    border-top: 10px solid #464a51;
    width: 100.6%;
    margin-left: -10px;
    position: relative;
    margin-bottom: 50px;
    border-bottom: 1px solid #464a51;
    border-right: 1px solid #464a51;
}
.logo .fa-desktop {
    font-size: 70px;
    float: left;
    color: #24c7cb;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 10px;
}
.desc1 {
    font-family: Multicolore;
    font-size: 10px;
    float: left;
    letter-spacing: 2px;
    color: #f3f4f7;
    border-radius: 5px;
    word-wrap: break-word;
    border: 1px solid #464a51;
    width: 50px;
    word-spacing: 20px;
}

.directs {
    color: #24c7cb;
}
.directs ul{
    list-style: none;
    float: left;
    margin-top: -20px;
}
.directs .features1 ul{
    font-family: Multicolore;
    font-size: 10px;
    margin-left: 150px;
    letter-spacing: 1px;
    margin-top: -12px;
    line-height: 3.5;
}

.directs .features1 .builder1:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.directs .features1 .builder1:active {
    opacity: 0.5;
}

.directs .features1 .list1:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.directs .features1 .list1:active {
    opacity: 0.5;
}

.directs .features1 .recommend1:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.directs .features1 .recommend1:active {
    opacity: 0.5;
}

.directs .menu ul {
    font-family: Multicolore;
    font-size: 10px;
    margin-left: 180px;
    margin-top: -30px;
    letter-spacing: 1px;
    line-height: 3.5;
}
.directs .menu .home:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.directs .menu .home:active {
    opacity: 0.5;
}

.directs .menu .about:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.directs .menu .about:active {
    opacity: 0.5;
}

.directs .menu .terms:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.directs .menu .terms:active {
    opacity: 0.5;
}

.directs .menu .priv:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.directs .menu .priv:active {
    opacity: 0.5;
}

.contacts {
    color: #24c7cb;
    list-style: none;
    float: right;
    margin-right: 30px;
    margin-top: -40px;
    word-wrap: break-word;
    font-size: 30px;
}
.contacts .fa-facebook-f {
    margin-right: 30px;
}
.contacts .fa-facebook-f:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.contacts .fa-facebook-f:active {
    opacity: 0.5;
}

.contacts .fa-instagram {
    margin-right: 30px;
}
.contacts .fa-instagram:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.contacts .fa-instagram:active {
    opacity: 0.5;
}

.contacts .fa-twitter {
    margin-right: 30px;
}
.contacts .fa-twitter:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.contacts .fa-twitter:active {
    opacity: 0.5;
}

.contacts .fa-line {
    margin-right: 23px;
}
.contacts .fa-line:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.contacts .fa-line:active {
    opacity: 0.5;
}

.contacts .fa-whatsapp {
    margin-right: 23px;
}
.contacts .fa-whatsapp:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.contacts .fa-whatsapp:active {
    opacity: 0.5;
}

.contacts .fa-discord {
    margin-right: 30px;
}
.contacts .fa-discord:hover {
    cursor: pointer;
    color: #f3f4f7;
}
.contacts .fa-discord:active {
    opacity: 0.5;
}

hr.line3 {
    border-top: 1px solid #464a51;
    width: 100.6%;
    margin-left: -10px;
    position: relative;
    margin-top: 185px;
    border-bottom: 10px solid #464a51;
    border-right: 1px solid #464a51;
}